In [1]:
import pandas as pd 
wine_data=pd.read_csv("/home/dul/winequality-red.csv")
wine_data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
# To view only column names
wine_data.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [4]:
# To rename columns
# first old column name, next the new column name
# can rename multiple columns
wine_data.rename(columns = {'fixed acidity':'fixed concentration','residual sugar':'residual_sugar' }, inplace=True)
wine_data.columns

Index(['fixed concentration', 'volatile acidity', 'citric acid',
       'residual_sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality'],
      dtype='object')

In [6]:
# To rename all the columns at once
# include all the new names in a python list
wine_data_cols = ['fixed_conc', 'volality_conc','ca','rs','chlors','sulphur_dioxide','tot_sulphur_dioxide','dens','pH','sulfates','alcohol','value']
# ooverwrite all the old wine dataset names with new ones
wine_data.columns = wine_data_cols
wine_data.head()

,fixed_conc,volality_conc,ca,rs,chlors,sulphur_dioxide,tot_sulphur_dioxide,dens,pH,sulfates,alcohol,value
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [7]:
# a simpler way to rename, say you want to replace spaces by underscores
wine_data.columns = wine_data.columns.str.replace(' ', '_')
wine_data.columns

Index(['fixed_conc', 'volality_conc', 'ca', 'rs', 'chlors', 'sulphur_dioxide',
       'tot_sulphur_dioxide', 'dens', 'pH', 'sulfates', 'alcohol', 'value'],
      dtype='object')