In [1]:
import pandas as pd 
wine_data=pd.read_csv("/home/dul/winequality-red.csv")
wine_data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [2]:
# we get output as bool, saying True and False is of type bool
type(False)
type(True)

bool

In [5]:
# wine quality greater than 7 , append true to the list else append false
good_wine = []
for length in wine_data.quality:
    if length >= 7:
        good_wine.append(True)
    else:
        good_wine.append(False)

In [6]:
# to display the list elements 0 to 9, here 10 is exclusive
good_wine[0:10]

[False, False, False, False, False, False, False, True, True, False]

In [8]:
# no of rows, no. of columns in dataframe wine_data
wine_data.shape

(1599, 12)

In [9]:
# no.of rows in good_wine list
len(good_wine)
# no. of rows in the dataframe and no. of rows in list is equal

1599

In [10]:
# to convert the python list to a pandas series
is_good = pd.Series(good_wine)
# view the good_wine series
is_good.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [12]:
# we want to get the wine where quality is greater than 7
wine_data[is_good]
# only wine quality greater than 7 is displayed

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.99460,3.39,0.47,10.00,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.99680,3.36,0.57,9.50,7
16,8.5,0.28,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.50,7
37,8.1,0.38,0.28,2.1,0.066,13.0,30.0,0.99680,3.23,0.73,9.70,7
62,7.5,0.52,0.16,1.9,0.085,12.0,35.0,0.99680,3.38,0.62,9.50,7
...,...,...,...,...,...,...,...,...,...,...,...,...
1541,7.4,0.25,0.29,2.2,0.054,19.0,49.0,0.99666,3.40,0.76,10.90,7
1544,8.4,0.37,0.43,2.3,0.063,12.0,19.0,0.99550,3.17,0.81,11.20,7
1549,7.4,0.36,0.30,1.8,0.074,17.0,24.0,0.99419,3.24,0.70,11.40,8
1555,7.0,0.56,0.17,1.7,0.065,15.0,24.0,0.99514,3.44,0.68,10.55,7
1584,6.7,0.32,0.44,2.4,0.061,24.0,34.0,0.99484,3.29,0.80,11.60,7

In [13]:
# To completely remove the for loop
is_good = wine_data.quality >= 7
is_good.head()
# displayed the first 5 rows is_good value, if quality greater than 7, true
# if duration less than 7, displayed as boolean false
# pandas knows we want all the series of wine quality column attribute for each row compared

0    False
1    False
2    False
3    False
4    False
Name: quality, dtype: bool

In [15]:
# we want to get the wine where quality is greater than 7
wine_data[is_good]
# only wine with quality greater than 7 is displayed

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.99460,3.39,0.47,10.00,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.99680,3.36,0.57,9.50,7
16,8.5,0.28,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.50,7
37,8.1,0.38,0.28,2.1,0.066,13.0,30.0,0.99680,3.23,0.73,9.70,7
62,7.5,0.52,0.16,1.9,0.085,12.0,35.0,0.99680,3.38,0.62,9.50,7
...,...,...,...,...,...,...,...,...,...,...,...,...
1541,7.4,0.25,0.29,2.2,0.054,19.0,49.0,0.99666,3.40,0.76,10.90,7
1544,8.4,0.37,0.43,2.3,0.063,12.0,19.0,0.99550,3.17,0.81,11.20,7
1549,7.4,0.36,0.30,1.8,0.074,17.0,24.0,0.99419,3.24,0.70,11.40,8
1555,7.0,0.56,0.17,1.7,0.065,15.0,24.0,0.99514,3.44,0.68,10.55,7
1584,6.7,0.32,0.44,2.4,0.061,24.0,34.0,0.99484,3.29,0.80,11.60,7

In [16]:
# generally the short form how every one writes
wine_data[wine_data.quality >= 7]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.99460,3.39,0.47,10.00,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.99680,3.36,0.57,9.50,7
16,8.5,0.28,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.50,7
37,8.1,0.38,0.28,2.1,0.066,13.0,30.0,0.99680,3.23,0.73,9.70,7
62,7.5,0.52,0.16,1.9,0.085,12.0,35.0,0.99680,3.38,0.62,9.50,7
...,...,...,...,...,...,...,...,...,...,...,...,...
1541,7.4,0.25,0.29,2.2,0.054,19.0,49.0,0.99666,3.40,0.76,10.90,7
1544,8.4,0.37,0.43,2.3,0.063,12.0,19.0,0.99550,3.17,0.81,11.20,7
1549,7.4,0.36,0.30,1.8,0.074,17.0,24.0,0.99419,3.24,0.70,11.40,8
1555,7.0,0.56,0.17,1.7,0.065,15.0,24.0,0.99514,3.44,0.68,10.55,7
1584,6.7,0.32,0.44,2.4,0.061,24.0,34.0,0.99484,3.29,0.80,11.60,7

In [17]:
# say  we only wanted to see the pH column of the filtered out dataframe values
wine_data[wine_data.quality >= 7]['pH']

7       3.39
8       3.36
16      3.30
37      3.23
62      3.38
        ...
1541    3.40
1544    3.17
1549    3.24
1555    3.44
1584    3.29
Name: pH, Length: 217, dtype: float64

In [18]:
# same thing
wine_data[wine_data.quality >= 7].pH

7       3.39
8       3.36
16      3.30
37      3.23
62      3.38
        ...
1541    3.40
1544    3.17
1549    3.24
1555    3.44
1584    3.29
Name: pH, Length: 217, dtype: float64

In [19]:
# this is safer method to use loc
wine_data.loc[wine_data.quality >= 7, 'pH']

7       3.39
8       3.36
16      3.30
37      3.23
62      3.38
        ...
1541    3.40
1544    3.17
1549    3.24
1555    3.44
1584    3.29
Name: pH, Length: 217, dtype: float64