In [1]:
import pandas as pd
football=pd.read_csv("/home/dul/Football_dataset.csv")
football.tail()

/home/dul/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (25,51) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
362442,2017-01-01,2017010102,20,4,1.0,00:22,1,22.0,6.0,GB,...,0.0,0.051901,0.948099,0.093435,0.906565,0.051901,0.041534,0.041534,0.0,2016
362443,2017-01-01,2017010102,20,4,NaN,00:13,1,13.0,9.0,GB,...,NaN,0.093435,0.906565,0.034069,0.965931,0.093435,-0.059366,NaN,NaN,2016
362444,2017-01-01,2017010102,21,4,NaN,00:13,1,13.0,0.0,DET,...,NaN,0.034069,0.965931,0.035708,0.964292,0.965931,-0.001639,NaN,NaN,2016
362445,2017-01-01,2017010102,21,4,1.0,00:12,1,12.0,1.0,DET,...,NaN,0.035708,0.964292,0.000000,1.000000,0.964292,0.035708,NaN,NaN,2016
362446,2017-01-01,2017010102,21,4,NaN,00:00,0,0.0,12.0,DET,...,NaN,0.000000,1.000000,0.000000,1.000000,0.934245,0.000000,NaN,NaN,2016

In [3]:
# to find the data type of each column
football.dtypes

Date         object
GameID        int64
Drive         int64
qtr           int64
down        float64
             ...
Win_Prob    float64
WPA         float64
airWPA      float64
yacWPA      float64
Season        int64
Length: 102, dtype: object

In [4]:
# to change the data type of qtr from int to float
# you can either overwrite the existing column or add as a new column
# here overwriting the existing column
football['qtr'] = football.qtr.astype(float)

In [5]:
football.dtypes

Date         object
GameID        int64
Drive         int64
qtr         float64
down        float64
             ...
Win_Prob    float64
WPA         float64
airWPA      float64
yacWPA      float64
Season        int64
Length: 102, dtype: object

In [8]:
# to get data type of all 102 columns, stored datatypes of columns inside a dictionary
dataTypeDict = dict(football.dtypes)
print(dataTypeDict)

{'Date': dtype('O'), 'GameID': dtype('int64'), 'Drive': dtype('int64'), 'qtr': dtype('float64'), 'down': dtype('float64'), 'time': dtype('O'), 'TimeUnder': dtype('int64'), 'TimeSecs': dtype('float64'), 'PlayTimeDiff': dtype('float64'), 'SideofField': dtype('O'), 'yrdln': dtype('float64'), 'yrdline100': dtype('float64'), 'ydstogo': dtype('int64'), 'ydsnet': dtype('int64'), 'GoalToGo': dtype('float64'), 'FirstDown': dtype('float64'), 'posteam': dtype('O'), 'DefensiveTeam': dtype('O'), 'desc': dtype('O'), 'PlayAttempted': dtype('int64'), 'Yards.Gained': dtype('int64'), 'sp': dtype('int64'), 'Touchdown': dtype('int64'), 'ExPointResult': dtype('O'), 'TwoPointConv': dtype('O'), 'DefTwoPoint': dtype('O'), 'Safety': dtype('int64'), 'Onsidekick': dtype('int64'), 'PuntResult': dtype('O'), 'PlayType': dtype('O'), 'Passer': dtype('O'), 'Passer_ID': dtype('O'), 'PassAttempt': dtype('int64'), 'PassOutcome': dtype('O'), 'PassLength': dtype('O'), 'AirYards': dtype('int64'), 'YardsAfterCatch': dtype('int64'), 'QBHit': dtype('int64'), 'PassLocation': dtype('O'), 'InterceptionThrown': dtype('int64'), 'Interceptor': dtype('O'), 'Rusher': dtype('O'), 'Rusher_ID': dtype('O'), 'RushAttempt': dtype('int64'), 'RunLocation': dtype('O'), 'RunGap': dtype('O'), 'Receiver': dtype('O'), 'Receiver_ID': dtype('O'), 'Reception': dtype('int64'), 'ReturnResult': dtype('O'), 'Returner': dtype('O'), 'BlockingPlayer': dtype('O'), 'Tackler1': dtype('O'), 'Tackler2': dtype('O'), 'FieldGoalResult': dtype('O'), 'FieldGoalDistance': dtype('float64'), 'Fumble': dtype('int64'), 'RecFumbTeam': dtype('O'), 'RecFumbPlayer': dtype('O'), 'Sack': dtype('int64'), 'Challenge.Replay': dtype('int64'), 'ChalReplayResult': dtype('O'), 'Accepted.Penalty': dtype('int64'), 'PenalizedTeam': dtype('O'), 'PenaltyType': dtype('O'), 'PenalizedPlayer': dtype('O'), 'Penalty.Yards': dtype('int64'), 'PosTeamScore': dtype('float64'), 'DefTeamScore': dtype('float64'), 'ScoreDiff': dtype('float64'), 'AbsScoreDiff': dtype('float64'), 'HomeTeam': dtype('O'), 'AwayTeam': dtype('O'), 'Timeout_Indicator': dtype('int64'), 'Timeout_Team': dtype('O'), 'posteam_timeouts_pre': dtype('int64'), 'HomeTimeouts_Remaining_Pre': dtype('int64'), 'AwayTimeouts_Remaining_Pre': dtype('int64'), 'HomeTimeouts_Remaining_Post': dtype('int64'), 'AwayTimeouts_Remaining_Post': dtype('int64'), 'No_Score_Prob': dtype('float64'), 'Opp_Field_Goal_Prob': dtype('float64'), 'Opp_Safety_Prob': dtype('float64'), 'Opp_Touchdown_Prob': dtype('float64'), 'Field_Goal_Prob': dtype('float64'), 'Safety_Prob': dtype('float64'), 'Touchdown_Prob': dtype('float64'), 'ExPoint_Prob': dtype('float64'), 'TwoPoint_Prob': dtype('float64'), 'ExpPts': dtype('float64'), 'EPA': dtype('float64'), 'airEPA': dtype('float64'), 'yacEPA': dtype('float64'), 'Home_WP_pre': dtype('float64'), 'Away_WP_pre': dtype('float64'), 'Home_WP_post': dtype('float64'), 'Away_WP_post': dtype('float64'), 'Win_Prob': dtype('float64'), 'WPA': dtype('float64'), 'airWPA': dtype('float64'), 'yacWPA': dtype('float64'), 'Season': dtype('int64')}

In [9]:
#football.TimeUnder.str.replace('','s')

AttributeError: Can only use .str accessor with string values!

In [12]:
# To a float data set cant add symbols so convert float data to string
football.TimeUnder.astype(str)

0         15
1         15
2         15
3         14
4         14
          ..
362442     1
362443     1
362444     1
362445     1
362446     0
Name: TimeUnder, Length: 362447, dtype: object

In [26]:
# To append symbol to dataset
football['TimeUnder'].astype(str) + 's'
# say in the dataset already in TimeUnder a symbol Seconds was there, to replace it
#football.TimeUnder.str.replace('s','$')
# s the symbol, already present. $ symbol we wanted to be newly appended
# and to do a math operation on it have to convert string to float
# football.TimeUnder.str.astype(float).mean()

0         15s
1         15s
2         15s
3         14s
4         14s
         ...
362442     1s
362443     1s
362444     1s
362445     1s
362446     0s
Name: TimeUnder, Length: 362447, dtype: object

In [31]:
# until saved the symbol not saved in dataset
football.TimeUnder

0         15
1         15
2         15
3         14
4         14
          ..
362442     1
362443     1
362444     1
362445     1
362446     0
Name: TimeUnder, Length: 362447, dtype: int64

In [33]:
# to save changes to the csv
football1=football['TimeUnder'].astype(str) + 's'
football1.to_csv("football_modified.csv")

In [34]:
# opened the new modified dataset
football_m=pd.read_csv("/home/dul/football_modified.csv")
football_m.head()

   Unnamed: 0 TimeUnder
0           0       15s
1           1       15s
2           2       15s
3           3       14s
4           4       14s

In [35]:
football_m.dtypes

Unnamed: 0     int64
TimeUnder     object
dtype: object

In [36]:
#  a single column in the dataset is modified and stored into the dataset
football['TimeUnder']=football['TimeUnder'].astype(str) + 's'

In [37]:
football.TimeUnder

0         15s
1         15s
2         15s
3         14s
4         14s
         ...
362442     1s
362443     1s
362444     1s
362445     1s
362446     0s
Name: TimeUnder, Length: 362447, dtype: object

In [38]:
football.to_csv("football_modified.csv")

In [39]:
football_m=pd.read_csv("/home/dul/football_modified.csv")
football_m.head()

/home/dul/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (26,52) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,0,2009-09-10,2009091000,1,1.0,NaN,15:00,15s,3600.0,0.0,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,1,2009-09-10,2009091000,1,1.0,1.0,14:53,15s,3593.0,7.0,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2,2009-09-10,2009091000,1,1.0,2.0,14:16,15s,3556.0,37.0,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,3,2009-09-10,2009091000,1,1.0,3.0,13:35,14s,3515.0,41.0,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,4,2009-09-10,2009091000,1,1.0,4.0,13:27,14s,3507.0,8.0,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009