In [3]:
# import pandas
import pandas as pd 
# import numpy nan is found in numpy library
import numpy as np

# making a data column in pandas, a column is called a series in pandas
s = pd.Series([1, 3, np.nan, 4, 6, 8])
# to display output of created series
s

0    1.0
1    3.0
2    NaN
3    4.0
4    6.0
5    8.0
dtype: float64

In [4]:
# making the series starting from defined date and with six/6 days included
dates = pd.date_range('20200101', periods=6)

dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
# making two columns/series having table/dataframe
data = {
    'student': [1003, 1002, 1000, 1001], 
    'stat_marks': [77, 68, 23, 96]
}
# the heading of the series/columns is student,stat_marks

In [9]:
purchases = pd.DataFrame(data)

purchases

   student  stat_marks
0     1003          77
1     1002          68
2     1000          23
3     1001          96